body
{
  background-color: white;
}

h1
{
  display: block;
  padding: 20px;
  background-color: #FFDDFF;
  font-family: sans-serif;
  border: 1px solid #515152;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;   
}

h2
{
  display: block;
  padding: 16px;
  background-color: #DDDDFF;
  font-family: sans-serif;
  border: 1px solid #515152;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;   
  margin-top: 20px;
}

h3
{
  display: block;
  padding: 8px;
  background-color: #E1E1E1;
  font-family: sans-serif;
  border: 1px solid #999999;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;   
  margin-top: 20px;
}

